*, *::before, *::after, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0 !important;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

body {
    height: auto;
}

.login__info {
    height: 100vh;
    width: 100vw;
    /* background-color: aqua; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.login__info__container {
    height: 80%;
    width: 100%;
    background-color: lightgray;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: border 0.1s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    padding: 30px 30px !important;
}

.login__info__container:hover {
    border: 2px solid lightskyblue;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 

}

.login__info__title > hr {
    margin: 30px 0px;
}

.test__section {
    /* background-color: blanchedalmond; */
    /* min-height: 8000px; */
    display: none;
    position: absolute;
    top: 0;
}

.test__section__user__info h2 {
    display: inline-block;
    margin: 20px 20px;
    font-size: 26px;
}

.test__section__body {
    /* background-color: aquamarine; */
    width: 100%;
    min-height: 100vh;
}

.test__section__1 {
    height: 20%;
    width: 100%;
}

.question {
    margin: 20px 0;
}

.round__button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.288);
    transition: box-shadow 0.1s ease-in-out;
    transition: border 0.1s ease-in-out;
    border: 2px solid transparent;
    position: fixed;
    top: 100px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round__button:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid lightblue;
    transition: box-shadow 0.3s ease-in-out;
    transition: border 0.1s ease-in-out;
}

.round__button i {
    transition: color 0.1s ease-in-out;
}

.round__button:hover i {
    color: lightblue;
    transition: color 0.1s ease-in-out;
}

.see__more {
    width: 500px;
    height: 500px;
    background-color: rgba(211, 211, 211, 0.288);
    position: fixed;
    top: 100px;
    right: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.see__more i {
    position: absolute;
    top: 20px;
    right: 20px;
}

.see__more__check {
    width: 70%;
    height: 70%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(8, auto);
    gap: 5px;
}

.see__more__check__num {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see__more button {
    margin: 0 !important;
    margin-bottom: 20px !important;
}

.submit__button__see__more {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
}

.see__more__checked {
    background-color: antiquewhite;
    color: black;
}